# Project-specific
/.refs
/data/config/
/data/logs/

# Custom extensions
*.log.*

# Custom files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.pytype/

# IDEs
.idea/
.vscode/
