# Personal GitHub Account
## Config
Host personal.github.com
  HostName github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519_desktop_personal

## Commands
  ### cd ~/.ssh
  ### ssh-keygen -t ed25519 -f id_ed25519_desktop_personal -C "desktop@PC-DESKTOP.local" -N '""'
  ### cat id_ed25519_desktop_personal.pub
  ### ssh -T git@personal.github.com
  ### git clone git@personal.github.com:username/repo.git

# Work GitHub Account
## Config
Host work.github.com
  HostName github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519_desktop_work

## Commands
  ### cd ~/.ssh
  ### ssh-keygen -t ed25519 -f id_ed25519_desktop_work -C "desktop@PC-DESKTOP.local" -N '""'
  ### cat id_ed25519_desktop_work.pub
  ### ssh -T git@work.github.com
  ### git clone git@work.github.com:username/repo.git

# Alt Git Hosting at GitLab
## Config
Host personal.gitlab.com
  HostName gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519_macbook_personal

## Commands
  ### cd ~/.ssh
  ### ssh-keygen -t ed25519 -f id_ed25519_macbook_personal -C "macbook@MAC-AIR.local" -N '""'
  ### cat id_ed25519_macbook_personal.pub
  ### ssh -T git@personal.gitlab.com
  ### git clone git@personal.gitlab.com:username/repo.git

# Alt Git Hosting at Codeberg
## Config
Host personal.codeberg.org
  HostName codeberg.org
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519_laptop_personal

## Commands
  ### cd ~/.ssh
  ### ssh-keygen -t ed25519 -f id_ed25519_laptop_personal -C "laptop@PC-LAPTOP.local" -N '""'
  ### ssh -T git@personal.codeberg.org
  ### git clone git@personal.codeberg.org:username/repo.git

# Alt Git Hosting at Replit
## Config
Host hobby.replit.dev
  HostName c96b6ade-d5e4-4f7a-bc5b-52334509b2a3-00-16nh2hskw3ql8.riker.replit.dev
  HostName replit.dev  # This is the default host name
  User c96b6ade-d5e4-4f7a-bc5b-52334509b2a3
  PreferredAuthentications publickeyk
  IdentityFile ~/.ssh/id_ed25519_macbook_personal

## Commands
  ### cd ~/.ssh
  ### ssh-keygen -t ed25519 -f id_ed25519_macbook_personal -C "macbook@MAC-AIR.local" -N '""'
  ### cat id_ed25519_macbook_personal.pub
  ### ssh c96b6ade-d5e4-4f7a-bc5b-52334509b2a3@c96b6ade-d5e4-4f7a-bc5b-52334509b2a3-00-16nh2hskw3ql8.riker.replit.dev
  ### git clone git@*.replit.dev:username/repo.git


# NOTES
## New machine set up
  ### The ssh-key file format is id_algorithm_machine_account
  ### The comment format is "user@machine.local"
  ### Find and replace _machine_ in config file
  ### Fine and replace _account in config file
  ### Replace comment with new machine hostname

## These resources are helpful for setting up SSH keys:
  ### https://www.tobyscott.dev/posts/auth-github-cli-over-ssh/
  ### https://dev.to/github/top-10-tips-for-using-github-from-the-command-line-1me6
  ### https://cli.github.com/manual/gh_auth_login
  ### https://goteleport.com/blog/ssh-client-config-file-example/
  ### https://www.youtube.com/watch?v=jGwD3e1BZ5Y&ab_channel=TechHara
  ### https://gist.github.com/alejandro-martin/aabe88cf15871121e076f66b65306610
  ### https://www.youtube.com/watch?v=N2hMGEeYR7c&ab_channel=Ashotofcode